<nav>
    <div>
        <a href="/">Mon Blog</a>
        <p>Node Blog Site</p>
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New About</a></li>
    </ul>
</nav>