<%- include('./partials/head.ejs') %>
    <h2>About Us</h2>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur expedita cumque quas commodi eveniet? Ad
        eius vel nihil totam asperiores expedita adipisci, voluptas aliquid. Iure nihil nulla, consequatur ipsum
        officiis, magnam soluta aspernatur quod voluptate sint veritatis expedita mollitia alias nobis laborum eveniet?
        Accusantium, ipsam ut. Magni, dolorum voluptatum. Aut laboriosam aliquam laudantium quam earum animi molestiae
        eligendi esse harum consectetur tempora explicabo, suscipit quisquam maiores tenetur placeat adipisci odio
        temporibus. Amet sequi vitae sint inventore, quae maxime minus numquam? Similique nihil saepe amet nulla
        perferendis. Molestias incidunt exercitationem natus impedit minima? Deserunt harum dicta eius modi ipsam
        officiis laborum?
    </p>
    <%- include('./partials/footer.ejs') %>